/* 苹方 */
@font-face {
    font-family: 'PingFang';
    src: url('./PingFangSC Thin.ttc') format('truetype');

}

/* 苹方 */
@font-face {
    font-family: 'BigShouldersInlineText-Black';
    src: url('./BigShouldersInlineText-Black.ttf') format('truetype');

}
